.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  color: #3b0a64;
  margin: .5%;
  font-size: clamp(1rem, 1vw, 3rem);

}

a {
    color: #3b0a64;
    text-decoration: none;
    font-size: clamp(1rem, 1vw, 3rem);
}