* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  flex: 0 0 5%;
  overflow: hidden;
  background-color: #3b0a64;
}

main {
  flex: 1 0 auto;
}

app-footer {
  flex: 0 0 3%;
  overflow: hidden;
}
